<div class="footer">
    <div class="footer-container">
        <p>All logos and brands are property of their respective owners and are used for identification purposes only.</p>
        <div class="links">
            <a href="https://github.com/N0877935/Player-Guesser"><img class="github" src="assets/github-mark.png" alt="github"></a>
            <p>© 2023 Joe Finlay</p>
        </div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>