body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    min-height: 5vh;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.help, .menu {
    height: 30px;
    width: 30px;
}

.header-one {
    display: flex;
    gap: 30px;

}

.container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.answer-container {
    display: flex;
    height: 10vh;
    width: 80vw;
    justify-content: space-between;
}

.incorrect, .correct {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {

    display: none;
}

.incorrect {
    display: none;
}

.correct-show {
    border: 2px solid greenyellow;
    color: greenyellow;
    border-radius: 10px;
}

.incorrect-show {
    border: 2px solid red;
    color: red;
    border-radius: 10px;
}



.player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 40vh;
    min-width: 40vw;
    background-color: #f5f5f5;
    border: 2px solid #e3e1e1;
    border-radius: 10px;
}

form {
    font-size: 1.5rem;
    width: 30vw;
    display: flex;
    gap: 10px;
}



.guesses-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 70px;
    height: 18vh;
    width: 60vw;
    background-color: #f5f5f5;
    border: 2px solid #e3e1e1;
    border-radius: 10px;
    justify-content: center;
    gap: 5px;
    
}


.player-guesses {
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid #f78383;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 5vh;
    width: 30vw;
}

.footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
}

.links {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.github {
    height: 30px;
    width: 30px;
}